* {
  margin: 0;
  padding: 0;
  font-size: 14px;
}
.contain {
  display: flex;
  width: 100%;
  .asset__content {
    width: calc(100% - 200px);
    height: 800px;
  }
  .asset__sideBar {
    width: 200px;
    height: 800px;
  }
}
.asset__sideBar {
  background-color: #074791;
  padding: 20px;
  height: 1000px;
}
.sideBar__user {
  display: flex;
  gap: 15px;
  align-items: center;
  margin-bottom: 20px;
  .user__avatar {
    width: 60px;
    height: 60px;
    border-radius: 50%;
  }
  .user__infor {
    p {
      font-size: 14px;
      color: #ffffff;
      font-weight: 100;
      margin-bottom: 5px;
    }
  }
}
.sideBar__filter {
  svg {
    width: 25px;
    height: 25px;
    color: #ffffff;
  }
  display: flex;
  gap: 20px;
  align-items: center;
  .search-box {
    position: relative;
    height: fit-content;
    &__input {
      padding: 10px 10px 10px 40px;
      background-color: #0b3d7b;
      border: 1px solid #0b3d7b;
      border-radius: 4px;
      width: 70%;
      outline: none;
    }
    &__input::placeholder {
      color: #ffffff;
    }
    &__icon {
      position: absolute;
      width: 25px;
      height: 25px;
      top: 50%;
      left: 10px;
      transform: translateY(-50%);
      cursor: pointer;
    }
  }
}
