@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f9fe;
  position: relative;
}

.depri-container {
  max-width: 1400px;
  padding: 20px 15px;
  margin: 0 auto;

  .content-top {
    margin-bottom: 20px;
    display: flex;
    align-items: center;
    width: 100%;
    &__header {
      width: 100%;
      display: flex;
    }
    &__title {
      display: flex;
      align-items: center;
      width: 100%;
      gap: 5px;

      h2 {
        margin-bottom: 0;
        line-height: 1;
      }
    }

    &__button {
      display: flex;
      gap: 20px;
      align-items: center;

      margin-bottom: 20px;
    }
    &__filter {
      display: flex;
      align-items: center;
      gap: 25px;
      // margin-left: 30px;
      .search-box {
        position: relative;
        &__input {
          padding: 5px 5px 5px 40px;

          border: 1px solid gray;
          border-radius: 4px;
          width: 200px;
          outline: none;
        }
        &__icon {
          position: absolute;
          width: 20px;
          height: 20px;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          cursor: pointer;
          display: flex;
          align-items: center;
          svg {
            color: gray;
            stroke-width: 2;
            width: 100%;
            height: 100%;
          }
        }
      }
    }
    &__option {
      display: flex;
      .button-view {
        border: none;
        background-color: #2795cf;
        color: white;
      }
    }
    .option-sellect {
      border: 1px solid #c4c4c4;
      font-size: 12px;

      padding: 8px 5px;
    }
  }
  .sellect-dept {
    width: 300px;
  }
  .content-sellection {
    display: flex;
    gap: 10px;
    .content-sellection__state {
      span {
        color: #141a4e;
        font-weight: 500;
      }
      svg {
        width: 30px;
        height: 30px;
      }
      .state-dropdown {
        display: flex;
        align-items: center;
        gap: 5px;
        width: 100px;
        margin-top: 5px;

        p {
          margin: auto;
        }
        svg {
          text-align: center;
          width: 20px;
          height: 20px;
        }
        select {
          border: 1px solid #c4c4c4;
          border-radius: 5px;
          background-color: #fff;
          padding: 3px 5px;
          box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
          width: 190px; /* Remove the default outline style */
        }
        .select-dropdown:focus {
          border-color: #007bff; /* Change border color when in focus */
        }

        /* Style the options within the select */
        select option {
          padding: 3px 5px;
          min-width: 500px;
          background-color: #f8f8f8;
          color: #333;
          transition: background-color 0.3s;
        }
      }
      .sellection-date {
        display: flex;
        gap: 15px;
        .date {
          display: flex;
          color: #141a4e;
          flex-direction: column;
          label {
            margin-bottom: 5px;
            font-weight: 500;
          }
          input {
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            background-color: #fff;
            padding: 3px 5px;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
            width: 190px;
          }
        }
      }
    }
  }
  .depri-content__detail {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;

    .table-container {
      overflow-x: auto;
      position: relative;
      max-width: 1300px;

      table {
        border-collapse: collapse;
        max-width: 1300px;
        margin: 0 auto;
        white-space: nowrap; /* Đảm bảo không bị xuống dòng */
      }

      th {
        color: #159712;
        font-weight: 400;
        background-color: #e1e8f2;
      }
      .stick-header {
        background-color: #f6f9fd;
        position: sticky;
        left: 0;
        z-index: 1;
      }
      .stick-header:hover {
        background-color: #f5f5f5;
      }

      .stick {
        background-color: #e1e8f2;

        position: sticky;
        left: 0;
        z-index: 1;
        .toggle-wrapper {
          text-align: left;
          .toggle-icon {
            cursor: pointer;
          }
        }
      }
      td {
        position: relative;
        max-width: 400px; /* Set the desired max-width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .popup {
        position: absolute;
        top: 5px;
        left: 0;
        display: none;
        font-size: 10px;
        padding: 5px;
        background-color: #fff;
        border-radius: 4px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
        z-index: 999999;
        white-space: normal;
      }
      .popup::after {
        content: "";
        position: absolute;

        border-style: solid;
        border-width: 10px 10px 0 10px;
        border-color: #fff transparent transparent transparent;

        left: 10px;
        top: 100%;
      }

      td:hover .popup {
        display: block;
      }
      .main-row td {
        color: #2e98d1;
        font-weight: 500;
      }

      tbody tr td {
        border-bottom: 1px solid #eeeeee;
        padding-top: 15px;
        padding-bottom: 15px;
      }

      th:nth-child(2) {
        width: 150px;
      }
      th,
      td:not(:first-child) {
        padding: 8px 35px 8px 30px;

        text-align: center;
      }
      td:first-child {
        padding-left: 10px;
      }
      tr:hover {
        background-color: #f5f5f5;
      }
    }
  }
}

.paging {
  width: 100%;
  padding: 30px 30px;
  position: absolute;
  right: 0;
  bottom: 0;
  div {
    width: fit-content;
    margin-right: 20px;
  }
  .pagination {
    display: flex;
    margin: 0;
    justify-content: end;
    gap: 10px; /* Set the gap between page items */
  }

  .page-item {
    min-width: 29px;
    min-height: 29px;
    text-align: center;
    border: 1px solid #ccc; /* Set border for each page item */
    border-radius: 4px; /* Set border radius for each page item */
    overflow: hidden;
    cursor: pointer;
  }
}

//Chart Style

.chart-content {
  max-width: 1400px;
  padding: 20px 15px;
  margin-bottom: 20px;
  .content-top {
    display: flex;
    align-items: center;
    &__header {
      display: flex;
      justify-content: space-between;
    }
    &__title h2 {
      margin-bottom: 0;
    }

    &__button {
      display: flex;
      gap: 20px;
      align-items: center;
      justify-content: end;
      margin-bottom: 20px;
    }
    &__filter {
      align-items: center;
      margin-bottom: 30px;
      // margin-left: 30px;

      .search-box {
        position: relative;
        height: fit-content;
        &__input {
          padding: 10px 10px 10px 40px;

          border: 1px solid #ccc;
          border-radius: 4px;
          width: 200px;
          outline: none;
        }
        &__icon {
          position: absolute;
          width: 25px;
          height: 25px;
          top: 50%;
          left: 10px;
          transform: translateY(-50%);
          cursor: pointer;
        }
      }
    }
  }
}
.Button {
  position: relative;
  border: none;
  color: #fff;
  width: 25px;
  height: 25px;
  text-align: center;
  background: linear-gradient(90deg, #03a9f4, #159712, #03a9f4, #03a9f4);
  background-size: 300%;
  text-transform: uppercase;
  cursor: pointer;
  z-index: 1;
  border-radius: 2px;
}

.Button:hover {
  animation: animated 4s linear infinite;
}

.Button::before {
  content: "";
  position: absolute;
  inset: -2px;
  z-index: -1;
  background: linear-gradient(90deg, #03a9f4, #159712, #03a9f4, #03a9f4);
  background-size: 300%;
  animation: animated 4s linear infinite;
  border-radius: 2px;
  transition: 0.5s;
}

.Button:hover::before {
  filter: blur(20px);
}
// .ant-select-selector {
//   border-radius: 0px !important;
// }
// .ant-select-open {
//   border-radius: 0px !important;
// }
.tableRowTransition {
  transition: all 0.2s cubic-bezier(0.645, 0.045, 0.355, 1);
}
@keyframes animated {
  0% {
    background-position: 0%;
  }

  100% {
    background-position: 400%;
  }
}

@media (max-width: 1124px) {
  .sellect-dept {
    width: 200px !important;
  }
}
