@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
* {
  font-size: 14px;
}
button {
  width: 60px;
  margin-left: 10px;
}

.asset {
  &-content__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 15px;
    margin-bottom: 10px;
    padding: 15px;

    svg {
      width: 40px;
      height: 40px;
    }
    h2 {
      font-size: 24px;
    }
  }
  &-content__filter {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 30px;
    margin-left: 30px;
    .menu {
      display: flex;
      list-style-type: none;
      padding: 0;
      gap: 15px;
      color: gray;
      &__items:active {
        color: red;
      }
    }
    .search-box {
      position: relative;
      height: fit-content;
      &__input {
        padding: 10px 10px 10px 40px;

        border: 1px solid #ccc;
        border-radius: 4px;
        width: 200px;
        outline: none;
      }
      &__icon {
        position: absolute;
        width: 25px;
        height: 25px;
        top: 50%;
        left: 10px;
        transform: translateY(-50%);
        cursor: pointer;
      }
    }
    &-content__detail {
      .table-container {
        overflow-x: auto;
        max-width: 100%;
        margin: 20px;
        table {
          border-collapse: collapse;
          width: 100%;
        }

        th,
        td {
          border: 1px solid #ddd;
          padding: 8px;
          text-align: left;
        }

        th {
          background-color: #f2f2f2;
        }

        tr:hover {
          background-color: #f5f5f5;
        }
      }
    }
  }
  &-content__sellection {
    border-top: 1px solid #707070;
    border-bottom: 1px solid #707070;
    width: 100%;
    color: #707070;
    padding: 20px 0px;
    display: flex;
    gap: 20px;
    background-color: #f6f6f6;
    .content-sellection__state {
      display: flex;
      align-items: center;
      gap: 10px;
      padding-left: 15px;

      svg {
        width: 30px;
        height: 30px;
      }
      .state-dropdown {
        display: flex;
        align-items: center;
        gap: 5px;
        svg {
          text-align: center;
          width: 20px;
          height: 20px;
        }
      }
    }
  }
  &-content__detail {
    .table-container {
      // overflow-x: auto;
      max-width: 100%;
      margin-top: 20px;
    }

    table {
      border-collapse: collapse;
      width: 100%;
    }
    tr {
      border-top: 1px solid #707070;
      border-bottom: 1px solid #707070;
    }
    th {
      color: #92c88d;
    }
    tbody tr td:nth-child(2) {
      color: #2e98d1;
    }
    th:nth-child(2) {
      width: 150px;
    }
    th,
    td {
      padding: 8px;
      text-align: left;
    }

    tr:hover {
      background-color: #f5f5f5;
    }

    @media (max-width: 600px) {
      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }

      th,
      td {
        display: inline-block;
      }
    }
  }
}
.asset__pagination {
  width: 1000px;
  height: 100px;
}
