@import "https://cdn.jsdelivr.net/npm/bootstrap@5.1.3/dist/css/bootstrap.min.css";
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap");
$base-color: #f4f4f4;
$shine-color: rgba(229, 229, 229, 0.8);
$animation-duration: 2s;
$avatar-offset: 52 + 16;

// this unfortunately uses set px widths for the background-gradient, I never got around to changing it to work with all widths :(
@mixin background-gradient {
  background-image: linear-gradient(
    90deg,
    $base-color 0px,
    $shine-color 40px,
    $base-color 80px
  );
  background-size: 600px;
}

body {
  font-family: "Poppins", sans-serif;
  background-color: #f6f9fe;
}
button {
  width: 60px;
  margin-left: 10px;
}

.asset {
  &__content {
    position: relative;
    max-width: 1400px;
    padding: 20px 15px;
    margin: 0 auto;
    margin-bottom: 20px;
    .content-top {
      &__header {
        display: flex;
        justify-content: space-between;
        margin-bottom: 20px;
      }
      &__title h2 {
        line-height: 1;
        margin-bottom: 0;
      }

      &__button {
        display: flex;
        gap: 20px;
        align-items: center;
        justify-content: end;
        margin-bottom: 20px;
      }
      &__filter {
        align-items: center;
        // margin-left: 30px;

        .search-box {
          position: relative;
          height: fit-content;
          &__input {
            padding: 10px 10px 10px 40px;

            border: 1px solid #ccc;
            border-radius: 4px;
            width: 200px;
            outline: none;
          }
          &__icon {
            position: absolute;
            width: 25px;
            height: 25px;
            top: 50%;
            left: 10px;
            transform: translateY(-50%);
            cursor: pointer;
          }
        }
      }
    }
  }
  &-content__title {
    display: flex;
    align-items: center;
    font-weight: bold;
    gap: 15px;
    margin-bottom: 10px;
    padding: 15px;

    svg {
      width: 40px;
      height: 40px;
    }
    h2 {
      font-size: 24px;
    }
  }

  &-content__sellection {
    width: 100%;
    color: #707070;
    box-shadow: rgba(0, 0, 0, 0.1) 0px 4px 12px;
    border-radius: 10px;

    .content-sellection__infor {
      display: flex;
      margin-bottom: 20px;
      padding: 5px;

      .info:nth-child(1) {
        border-right: 1px solid #f0f0f0;
      }
      .info:nth-child(2) {
        border-right: 1px solid #f0f0f0;
      }
      .info {
        width: 33.33%;
        display: flex;
        align-items: center;
        justify-content: center;
        gap: 20px;
        img {
          width: 70px;
          height: 70px;
        }
        &-title {
          margin-bottom: 5px;
        }
        &-number {
          color: #333333;
          font-size: 14px;
          font-weight: 600;
        }
        &-change {
          display: flex;
          align-items: center;
          gap: 5px;
          svg {
            width: 20px;
            height: 20px;
            color: #00ac4f;
          }
          &__color {
            color: #00ac4f;
          }
        }
      }
    }
  }
  &-content__detail {
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    border-radius: 10px;
    overflow: hidden;
    .content-sellection {
      display: flex;
      align-items: center;
      gap: 20px;
      background-color: #e0e8f2;
      padding: 15px;

      .importExcel {
        margin-left: auto;
        display: flex;
        flex-direction: column;
        span {
          color: #159712;
          font-weight: 300;
          font-size: 12px;
        }
        .customFileInput {
          background-color: #2795cf;
          width: 100px;
          padding: 3px 5px;
          margin-top: 5px;
          margin-left: 0;
          border: none;
          color: #fff;
          border-radius: 5px;
          cursor: pointer;
          text-align: center;
          svg {
            margin-right: 5px;
            margin-bottom: 2px;
          }
        }
      }
      .content-sellection__state {
        .filter-title {
          color: #159712;
          font-weight: 300;
          font-size: 12px;
        }
        svg {
          margin-right: 5px;
        }

        .state-dropdown {
          display: flex;
          align-items: center;
          gap: 5px;
          width: 100px;
          margin-top: 5px;
          margin-right: 10px;
          p {
            margin: auto;
          }

          select {
            border: 1px solid #c4c4c4;
            border-radius: 5px;
            background-color: #fff;
            padding: 3px 5px;
            box-shadow: inset 0 3px 6px rgba(0, 0, 0, 0.1);
            width: 190px; /* Remove the default outline style */
          }
          .select-dropdown:focus {
            border-color: #007bff; /* Change border color when in focus */
          }

          /* Style the options within the select */
          select option {
            padding: 3px 5px;
            min-width: 500px;
            background-color: #f8f8f8;
            color: #333;
            transition: background-color 0.3s;
          }
        }
        .sellection-date {
          display: flex;
          height: 100%;
          .date {
            color: #159712;
            &-sellect {
              display: flex;
            }
            &-label {
              min-width: 80px;
            }
            &-title {
              display: flex;
              div {
                max-height: 30px;
                font-weight: 300;
                font-size: 14px;
                border: none;
                background-color: #2795cf;
                color: white;
                margin-top: 5px;
                padding: 5px 5px;
                border: 1px solid #c4c4c4;
                border-right: none; /* or border-left: 0; */
              }
            }
            span {
              font-size: 12px;
              font-weight: 300;
            }
            input {
              max-height: 30px;

              margin-top: 5px;
              height: 24.5;
              border: 1px solid #c4c4c4;
              border-left: none; /* or border-left: 0; */

              background-color: #fff;
              padding: 3px 5px;
              width: 150px;
            }
            input:focus {
              border: 1px solid #2795cf; /* Set your desired border color */
              border-left: none;
              outline: none;
            }
          }
        }
      }
    }
    .table-container {
      position: relative;
      overflow-x: auto;
      max-width: 1300px;
      table {
        border-collapse: collapse;
        max-width: 1300px;
        margin: 0 auto;
        white-space: nowrap; /* Đảm bảo không bị xuống dòng */
      }

      th {
        color: #159712;
        font-weight: 400;
        background-color: #e1e8f2;
      }
      .stick-header {
        background-color: #f6f9fd;
        position: sticky;
        left: 0;
        z-index: 1;
      }
      .stick-header:hover {
        background-color: #f5f5f5;
      }

      .stick {
        background-color: #e1e8f2;
        display: flex;
        position: sticky;
        left: 0;
        z-index: 1;
      }
      td {
        max-width: 400px; /* Set the desired max-width */
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
      }
      .main-row td {
        color: #2e98d1;
        font-weight: 500;
      }

      tbody tr td {
        border-bottom: 1px solid #eeeeee;
        padding-top: 15px;
        padding-bottom: 15px;
      }
      tbody tr td:nth-child(1) {
        color: #2e98d1;
      }

      th:nth-child(2) {
        width: 150px;
      }
      th,
      td {
        padding: 8px 35px 8px 30px;
      }

      tr:hover {
        background-color: #f5f5f5;
      }
      .user-item {
        display: flex;
        align-items: center;
        gap: 10px;
        .image {
          img {
            width: 30px;
            height: 30px;
            border-radius: 50%;
            box-shadow: rgba(50, 50, 93, 0.25) 0px 50px 100px -20px,
              rgba(0, 0, 0, 0.3) 0px 30px 60px -30px,
              rgba(10, 37, 64, 0.35) 0px -2px 6px 0px inset;
            object-fit: contain;
          }
        }
      }
    }
    .asset-status {
      height: 100%;
    }
    .status {
      width: 20px;
      border-radius: 50%;
      display: flex;
      align-items: center;
      justify-content: center;
      font-size: 12px;
    }

    .active {
      background-color: #3cb87e;
      color: white;
    }

    .inactive {
      background-color: #f44336;
      color: white;
    }

    @media (max-width: 600px) {
      table {
        display: block;
        overflow-x: auto;
        white-space: nowrap;
      }

      th,
      td {
        display: inline-block;
      }
    }
  }
}
.asset__pagination {
  width: 1000px;
  height: 100px;
}
.loading-spinner {
  border: 16px solid #f3f3f3; /* Light grey */
  border-top: 16px solid #3498db; /* Blue */
  border-radius: 50%;
  width: 120px;
  height: 120px;
  animation: spin 2s linear infinite;
}
@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
.paging {
  text-align: end !important;
  div {
    width: fit-content;
    margin-left: auto;
    margin-right: 20px;
  }
  .pagination {
    margin: 10px 0;
    display: flex;
    justify-content: center; /* Center the pagination */
    gap: 10px; /* Set the gap between page items */
  }

  .page-item {
    min-width: 29px;
    min-height: 29px;
    text-align: center;
    border: 1px solid #ccc; /* Set border for each page item */
    border-radius: 4px; /* Set border radius for each page item */
    overflow: hidden;
    cursor: pointer;
  }
}
.tg {
  border-collapse: collapse;
  border-spacing: 0;
  border-color: #ccc;
  .first-column {
    width: 10px;
  }
}
.tg td {
  font-family: Arial, sans-serif;
  font-size: 14px;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #fff;
}
.tg th {
  font-family: Arial, sans-serif;
  font-size: 14px;
  font-weight: normal;
  padding: 10px 5px;
  border-style: solid;
  border-width: 0px;
  overflow: hidden;
  word-break: normal;
  border-color: #ccc;
  color: #333;
  background-color: #f0f0f0;
}
.paging-wrapper {
  position: absolute;
  right: 15px;
  bottom: -100px;
  div {
    width: fit-content;
    margin-right: 20px;
  }
  .pagination {
    display: flex;
    margin: 0;
    justify-content: end;
    gap: 10px; /* Set the gap between page items */
  }

  .page-item {
    min-width: 29px;
    min-height: 29px;
    font-size: 12px;
    font-weight: 500;
    text-align: center;
    border: 1px solid #ccc; /* Set border for each page item */
    border-radius: 4px; /* Set border radius for each page item */
    overflow: hidden;
    cursor: pointer;
  }
  .page-item a {
    color: black;
  }
}
.line {
  float: left;
  width: 100px;
  height: 16px;
  margin-top: 12px;
  border-radius: 7px;

  @include background-gradient;
  animation: shine-lines $animation-duration infinite ease-out;
}

@keyframes shine-lines {
  0% {
    background-position: -100px;
  }
  40%,
  100% {
    background-position: 140px;
  }
}
@media (max-width: 1080px) {
  .date-title {
    position: relative;
  }
  .date input {
    width: 120px !important;
  }
  .date-input {
    content: "";
    display: none;
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 100;
  }
  .date-title::before {
    content: "";
    position: absolute;
    bottom: -10px;
    left: 0;
    width: 100%;
    height: 10px;
    z-index: 999;
  }
  .date-title {
    display: flex;
    flex-direction: column;
    width: 120px;
  }
  .date-sellect:hover .date-input {
    display: block;
  }
}
